html {
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
	overflow-x: hidden;
	user-select: none;
}

header {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	margin: 0;
	background-color: #ffffff;
	top: 0;
	left: 0;
	right: 0;
}

body {
	margin: 0;
	background-color: #603813;
}

main {
	margin: 0;
	color: #ffffff;
	text-align: center;
}

main h1 {
	font-size: 4rem;
	margin: 0;
}
